@charset "UTF-8";

/********************
  utility
********************/
.u-mb40{margin-bottom: 40px;}
.u-mb50{margin-bottom: 50px;}
.u-mb55{margin-bottom: 55px;}
.u-mb70{margin-bottom: 70px;}
.u-mb100{margin-bottom: 100px;}
/********************
  default
********************/
*,*::after,*::before{box-sizing: border-box;}
body{
  width: 100%;
  overflow-x: hidden;
  background: url(../images/bg.jpg)repeat;
  /* 画像が読み込まれる前の背景色の指定 */
  background-color: #f39800;
  font-weight: normal;
}
a{
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease-out;
}
.wrap{
  width: 980px;
  margin: 0 auto;
}
.font{
  font-family: "メイリオ","游ゴシック体", sans-serif;
}
.txt{
  font-size: 16px;
  color: #fff;
  line-height:2em;
}
/********************
  header
********************/
nav{display: none}
/********************
  top
********************/
.top{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/bg-top01.jpg) no-repeat center center;
  background-size: cover;
}
.top::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 155px;
  height: 150px;
  background: url(../images/bg-top02.jpg)no-repeat center center;
  content: "";
}
.top-bg{
  opacity: 0;
}
.top-bg::before{
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 163px;
  height: 186px;
  background: url(../images/bg-top03.png)no-repeat center center;
  content: "";
  z-index: 10;
}
.top-bg::after{
  position: absolute;
  bottom: -70px;
  right: 0;
  width: 121px;
  height: 157px;
  background: url(../images/bg-top04.png)no-repeat center center;
  content: "";
  z-index: 10;
}

.top-inner{
  position: absolute;
  top: 55vh;
  left: 15vw;
  z-index: 4;
  opacity: 0;
}
.top .logo img{
  display: block;
  margin-bottom: 40px;
}
.top .logo{
  padding-left: 50px;
}
/********************
  #section1
********************/
#section1 h2{
  margin-right: 45px;
}
#section1 .sec1-inner{
  display: flex;
  justify-content: center;
  flex: wrap
}
#section1 .sec1-inner .txt{
  color:#6e4c21;
  padding: 40px 25px 35px;
  background:url(../images/sec1-bgTxt.png) no-repeat center center;
}
#section1 .sec1-ttl{
  position: relative;
  background: url(../images/sec1-bg.jpg) no-repeat center center;
  width: 100%;
  height: 450px;
}
#section1 .sec1-ttl img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/********************
  #section
********************/
#section2 .sec2-inner{
  display: flex;
  flex-wrap: wrap;
}
#section2 dl{
  position: relative;
  width: 250px;
  background: #f0924d;
  padding: 20px 15px;
}
#section2 dt{text-align: center;}
#section2 dl:nth-child(3n+2){
  margin-right: 110px;
  margin-left: 110px;
}
#section2 p img{
  max-width: 100%;
  height: auto;
}
#section2 .bg{
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    width: 210px;
    height: 245px;
    margin: 0 auto;
    background: #5a9e56;
    z-index: -1;
    -webkit-transform: rotate(85deg);
    transform: rotate(85deg);
}
#section2 .bg:hover{
    -webkit-animation: rotate202 .8s ease 0s;
    animation: rotate202 .8s ease 0s
}
