@charset "UTF-8";
/********************
  font
********************/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/********************
  utility
********************/
.u-mb10{margin-bottom: 10px;}
.u-mb25{margin-bottom: 25px;}
.u-mb40{margin-bottom: 40px;}
.u-mb50{margin-bottom: 50px;}
.u-mT50{margin-top: 50px;}
.u-mb55{margin-bottom: 55px;}
.u-mb70{margin-bottom: 70px;}
.u-mb80{margin-bottom: 80px;}
.u-mT100{margin-top: 100px;}
.u-mb100{margin-bottom: 100px;}
.u-mb110{margin-bottom: 110px;}
.u-mb125{margin-bottom: 125px;}
.u-mb165{margin-bottom: 165px;}
/**********************
UTILITY FONT-SIZE
**********************/
.font{
  font-family: "メイリオ","游ゴシック体", sans-serif;
}
.txt{
  color:#6e4c21;
  font-weight:bold;
  line-height:2em;
}
.c-wht {color:#fff;}
.u-f16{font-size:16px;}
.u-f18{font-size:18px;}
.u-f20{font-size:20px;}
.u-f24{font-size:24px;}
.u-f28{font-size:28px;}
.u-f36{font-size:36px;}



.is-noOpaciy{opacity: 1}
.is-block{display: block!important;}
.is-none{display: none!important;}
.is-overflowHidden{overflow: hidden;}
.is-height{height: 5708px!important;}

/********************
  opennig
********************/
.is-loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  overflow: hidden;
}
.is-loading-inner{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow: hidden;
}
.is-loading::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100vh;
  background: #d5b079;
  z-index: 0;
}
.loader {
  position: relative;
  width: 40px;
  margin: auto;
}
.circle {
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: orbit;
          animation-name: orbit;
  -webkit-animation-duration: 5.5s;
          animation-duration: 5.5s;
}
.circle::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #f39800;
}
.circle:nth-child(2){-webkit-animation-delay: 240ms;animation-delay: 240ms;}
.circle:nth-child(3){-webkit-animation-delay: 480ms;animation-delay: 480ms;}
.circle:nth-child(4){-webkit-animation-delay: 720ms;animation-delay: 720ms;}
.circle:nth-child(5){-webkit-animation-delay: 960ms;animation-delay: 960ms;}
@-webkit-keyframes orbit {
  0%{-webkit-transform:rotate(225deg);transform:rotate(225deg); opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;}
  7%{-webkit-transform:rotate(345deg);transform:rotate(345deg); -webkit-animation-timing-function: linear; animation-timing-function: linear;}
  30%{-webkit-transform:rotate(455deg);transform:rotate(455deg); -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out;}
  39%{-webkit-transform:rotate(690deg);transform:rotate(690deg); -webkit-animation-timing-function: linear; animation-timing-function: linear;}
  70%{-webkit-transform:rotate(815deg);transform:rotate(815deg); opacity: 1; -webkit-animation-timing-function:ease-out; animation-timing-function:ease-out;}
  75%{-webkit-transform:rotate(945deg);transform:rotate(945deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;}
  76%{-webkit-transform:rotate(945deg);transform:rotate(945deg); opacity: 0;}
  100%{-webkit-transform:rotate(945deg);transform:rotate(945deg); opacity: 0;}
}
@keyframes orbit {
  0%{-webkit-transform:rotate(225deg);transform:rotate(225deg); opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;}
  7%{-webkit-transform:rotate(345deg);transform:rotate(345deg); -webkit-animation-timing-function: linear; animation-timing-function: linear;}
  30%{-webkit-transform:rotate(455deg);transform:rotate(455deg); -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out;}
  39%{-webkit-transform:rotate(690deg);transform:rotate(690deg); -webkit-animation-timing-function: linear; animation-timing-function: linear;}
  70%{-webkit-transform:rotate(815deg);transform:rotate(815deg); opacity: 1; -webkit-animation-timing-function:ease-out; animation-timing-function:ease-out;}
  75%{-webkit-transform:rotate(945deg);transform:rotate(945deg); -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;}
  76%{-webkit-transform:rotate(945deg);transform:rotate(945deg); opacity: 0;}
  100%{-webkit-transform:rotate(945deg);transform:rotate(945deg); opacity: 0;}
}
/********************
  default
********************/
*,*::after,*::before{-webkit-box-sizing: border-box;box-sizing: border-box;}
body{
	width: 100%;
	background: url(../images/bg.jpg)repeat;
	background-color: #f39800;
	font-size:16px;
	font-weight: normal;
}
img{display: block}
h1,h2,h3,h4,dt{font-weight: normal;}
ul,li{list-style: none;}
footer{
  display: none;
  text-align: center;
}
.wrap{
  width: 980px;
  margin: 0 auto;
  display: none;
  opacity: 0;
}
/*左右に果物の画像を出すクラス*/
.bgSide{
  position: relative;
  width:100%;
}
.bgSide::before {
  position:absolute;
  content: '';
  top: 0;
  left: 0;
  width:217px;
  height: 6225px;
  background: url('../images/main-bgLeft.png') no-repeat center center;
  z-index:-1;
}
.bgSide::after{
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width:229px;
  height: 6770px;
  background: url('../images/main-bgRight.png') no-repeat center center;
  z-index:-2;
}

.btnC > a{
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);/*アイコン色*/
    width:100%;
    height: 64px;
    line-height: 64px;
    font-size: 36px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: 400;
    font-family:'Noto Sans JP' , sans-serif;
    background: #067814;
    border-bottom:5px solid #045602;
}
.btnC > a:hover {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    border-bottom:none;
}
.btnC img{margin: 0 auto;}
/********************
  header
********************/
nav{display: none}
/********************
  top
********************/
.content{
  display: none;
  width: 100%;
}
.top{
  position: relative;
  width: 100%;
  min-width: 1000px;
  height: 100vh;
  background: url(../images/bg-top01.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
  overflow-x: hidden;
}
.top::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 155px;
  height: 150px;
  background: url(../images/bg-top02.jpg)no-repeat center center;
  content: "";
}
.top-bg{
  opacity: 0;
}
.top-bg::before{
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 163px;
  height: 186px;
  background: url(../images/bg-top03.png)no-repeat center center;
  content: "";
  z-index: 10;
}
.top-bg::after{
  position: absolute;
  bottom: -70px;
  right: 0;
  width: 121px;
  height: 157px;
  background: url(../images/bg-top04.png)no-repeat center center;
  content: "";
  z-index: 10;
}

.top-inner{
  position: absolute;
  top: 55vh;
  left: 15vw;
  z-index: 4;
  opacity: 0;
}
.top .logo img{
  display: block;
  margin-bottom: 40px;
}
.top .logo{
  padding-left: 50px;
}
/********************
  #section1
********************/
#section1 h2{
  margin-right: 45px;
}
#section1 .sec1Tp{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap
}
#section1 .sec1Tp .txt{
  padding: 40px 25px 35px;
  border-radius: 15px;
  border: 4px dashed #10802b;
}
#section1 .sec1Bt{
  position: relative;
  background: url(../images/sec1-bg.jpg) no-repeat center center;
  width: 100%;
  height: 250px;
  border-radius:20px;
}
#section1 .sec1Bt img{
  position: absolute;
  width:838px;
  height:88px;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  margin:auto;
}
/********************
  #section2
********************/
#section2 .sec2-inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
	-webkit-justify-content:space-between;
	justify-content: space-between;
}
#section2 dl{
  position: relative;
  width: 250px;
  background: #f0924d;
  padding: 20px 15px;
}
#section2 dt{
  text-align: center;
  margin-bottom:20px;
}
#section2 dl:nth-child(3n+2){
  margin-right: 110px;
  margin-left: 110px;
}
#section2 dd {
  line-height:1.5em;
	font-weight:normal;
}
#section2 p img{
  max-width: 100%;
  height: auto;
}
#section2 .bg{
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    width: 210px;
    height: 245px;
    margin: 0 auto;
    background: #5a9e56;
    z-index: -1;
    -webkit-transform: rotate(85deg);
    transform: rotate(85deg);
}
/********************
  #section3
********************/
#section3 .sec3Tp .txt{
  position: relative;
  padding: 20px 0 20px 475px;
  font-size: 18px;
  border-radius: 15px;
  border: 4px dashed #10802b;
}
#section3 .sec3Tp .txt::after{
  position: absolute;
  content: '';
  width:325px;
  height: 270px;
  background: url('../images/sec3-img01.png')no-repeat center center;
  top: 50%;
  left: 45px;
  margin-top: -135px;
}
#section3 .sec3Bt{
  position: relative;
  padding-right: 360px;
}
#section3 .sec3Bt::after{
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -153px;
  width: 306px;
  height: 273px;
  background: url('../images/sec3-img02.png')no-repeat center center;
  content: '';
}
#section3 .sec3Bt .txt{
  color:#6e4c21;
  font-weight:bold;
}
/********************
  #section4
********************/
#section4 h3 img,
#section4 h2 img{
  margin: 0 auto;
}
#section4 .sec4-inner{padding-right: 15px;}
#section4 .tree{
  position: relative;
}
#section4 .tree img{
  margin:0 auto;
}
#section4 .ball{
  position: absolute;
  border-radius: 50%;
  background: #348e4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap
}
#section4 .ball .txt{
  width: 150px;
}
#section4 .ball:nth-child(1){
  top: -15px;
  right: 120px;
  width: 200px;
  height: 200px;
}
#section4 .ball:nth-child(2){
  top: 105px;
  left: 120px;
  width: 200px;
  height: 200px;
}
#section4 .ball:nth-child(3){
  bottom: 200px;
  right: 205px;
  width: 140px;
  height: 140px;
}
#section4 .ball:nth-child(4){
  bottom: 45px;
  left: 195px;
  width: 170px;
  height: 170px;
}
#section4 .winterMikan img{
  margin: 0 auto 45px;
}
/********************
  #section5
********************/
#section5 .sec5Tp{
  width: 100%;
  height: 404px;
  background: url(../images/sec5-bg01.png) no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#section5 .sec5Tp p.txt{
  position: relative;
  color:#77572f;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 2px 2px 0 #fff;
  z-index: 1;
}
#section5 dl, #section5 dl .inner {
  width:100%;
}
#section5 dl {
  position:relative;
}
#section5 dl::after {
  position:absolute;
  content:'';
  top:50%;
  left:70%;
  width:209px;
  height:212px;
  margin-top:-80px;
  background:url(../images/sec5-bg04.png) no-repeat center center;
  background-size:contain;
  background-position:center center;
}
#section5 .inner{
  display: table;
  border-collapse:separate;
  border-spacing:0;
}
#section5 .inner .txt{
  display:table-cell;
  line-height: 47px;
}
#section5 dl dt{
  position:relative;
  width: 180px;
  height: 47px;
  padding:10px 0 10px 20px;
  font-size: 28px;
  color:#77572f;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
  -webkit-box-sizing:content-box;
          box-sizing:content-box;
}
#section5 dl dt::after{
  position:absolute;
  left:100%;
  top:50%;
  border:solid transparent;
  content:" ";
  height:0;
   width:0;
   pointer-events:none;
   border-width:20px;
   margin-top:-20px;
}
#section5 dl .inner:nth-child(1) dt,
#section5 dl .inner:nth-child(3) dt{
  background:#f08721;
}
#section5 dl .inner:nth-child(1) dt::after,
#section5 dl .inner:nth-child(3) dt::after{
  border-color:rgba(240, 135, 33, 0);
  border-left-color:#f08721;
}
#section5 dl .inner:nth-child(2) dt,
#section5 dl .inner:nth-child(4) dt{
  background:#edab6a;
}
#section5 dl .inner:nth-child(2) dt::after,
#section5 dl .inner:nth-child(4) dt::after{
border-color:rgba(237, 171, 106, 0);
border-left-color:#edab6a;
}
#section5 dl dd{
  width: auto;
  height:47px;
  padding:10px 0 10px 40px;
  color: #6e4c21;
  font-size:18px;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
}
#section5 dl .inner:nth-child(1) dd,
#section5 dl .inner:nth-child(3) dd {
  background:#F2C8A0;
}
#section5 dl .inner:nth-child(2) dd,
#section5 dl .inner:nth-child(4) dd {
  background:#ffccaa;
}
#section5 .sec5Tp p.txt:nth-child(1)::after{
  position: absolute;
  top: 50%;
  left: -30px;
  width: 286px;
  height: 26px;
  margin-top: -13px;
  background: url(../images/sec5-bg02.png)no-repeat center center;
  content: '';
  z-index: -1;
}
#section5 .sec5Bt{
  width: 100%;
  height: 400px;
  background: url(../images/sec5-bg03.jpg)no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom:80px;
  border-radius:20px;
}
#section5 .sec5Left,
#section5 .sec5Right{
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#section5 .sec5Left .txt,
#section5 .sec5Right .txt{
  position: relative;
  color:#fff;
  text-shadow: 0 0 10px #fff;
  font-weight:400;
  font-size: 24px;
  z-index: 1;
}
#section5 .fig-comment img{
  width:65%;
  height:auto;
  margin:0 auto 70px;
}
#section5 .oneOrange{
  position: relative;
  width: 100%;
  height: 410px;
  background: url(../images/sec5-img02.png)no-repeat center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#section5 .oneOrange p.txt{
  position: relative;
  color:#77572f;
  font-weight: bold;
  text-shadow: 2px 2px 0 #fff;
  font-size: 24px;
  z-index: 1;
}
#section5 .oneOrange p.txt::after{
  position: absolute;
  top: 50%;
  left: -20px;
  width: 400px;
  height: 30px;
  margin-top: -20px;
  background: url(../images/sec5-bg02.png)no-repeat center center;
  background-size:cover;
  background-position:left;
  content: '';
  z-index: -1;
}
/********************
  #section6
********************/
#section6 > p.txt {
  position:relative;
  font-weight:bold;
  height:231px;
}
#section6 > p.txt::after {
  content:'';
  width:300px;
  height:231px;
  position:absolute;
  top:0;
  right:0;
  background:url('../images/sec6-bg01.png') no-repeat center center;
  background-size:contain;
  background-position:center center;
}
#section6 .sec6-inner{
  position: relative;
  width: 100%;
  height: 550px;
  background:url(../images/sec6-bg02.png)no-repeat center center;
}
#section6 .sec6-txt{
  position: absolute;
  top: 50%;
  right: 54px;
  margin-top: -130px;
}
#section6 .txt{color:#6e4c21;}
#section6 .txt,
#section6 .sec6-txt .txt{
  font-size: 20px;
}
#section6 figure{
  position: absolute;
  top: 50%;
  left: 54px;
  margin-top: -170px;
}
/********************
  footer
********************/
footer{padding-top: 20px}
footer img{
  width:100%;
  max-width: 1000px;
  min-height: 353px;
  overflow-x: hidden;
}
/********************
MEDIA QUERY SUPPORT
@breakpoint 
********************/
@media only screen and (max-width:1164px) {
	.bgSide::before, .bgSide::after{
		display:none;
	}
	.wrap{
	  width: 95%;
	  margin: 0 auto;
	}
}
/********************
MOBILE & SMARTPHONE
********************/
@media only screen and (max-width:736px) {
	/********************
	  utility
	********************/
	.u-mb10{margin-bottom: 10px;}
	.u-mb25{margin-bottom: 25px;}
	.u-mb40{margin-bottom: 40px;}
	.u-mb50{margin-bottom: 50px;}
	.u-mT50{margin-top: 50px;}
	.u-mb55{margin-bottom: 55px;}
	.u-mb70{margin-bottom: 70px;}
	.u-mb80{margin-bottom: 80px;}
	.u-mT100{margin-top: 100px;}
	.u-mb100{margin-bottom: 100px;}
	.u-mb110{margin-bottom: 110px;}
	.u-mb125{margin-bottom: 125px;}
	.u-mb165{margin-bottom: 165px;}
}

